<!DOCTYPE html>
<html>
<head>
  <a href = "http://localhost/login">Login </a>
  <body>
    <h1>Welcome to Custom Authentication</h1>
    <h2>To continue: browse our pages with the directory or log in above.</h2>
    <p>Test 1</p>
    <p>Included on this page should be a...drop down directory to the other site pages.</p>
    <p>A login button that links to the login page.</p>
    <p>test2</p>
  </body>
</head>
</html>
